.booking-container {
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #544e70;
}

/* Header */
.booking-header {
  text-align: center;
  padding: 80px 20px;
  background: url('/car1.jpg') center/cover no-repeat;
  color: white;
  position: relative;
}

.booking-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.booking-header > * {
  position: relative;
  z-index: 2;
}

.booking-header h1 {
  font-size: 3rem;
}

.booking-content {
  display: flex;
  padding: 50px 8%;
  gap: 40px;
  text-align: center;
  justify-content: center
}


/* Form */
.booking-form {
  width: 60%;
 

}

.booking-form h2 {
  color: #d4af37;
  margin-bottom: 20px;
  
}

.booking-form form {

  gap: 15px;
  
}

.booking-form input,
.booking-form textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
  outline: none;
    
}

.booking-form button {
  padding: 12px;
  background-color: #d4af37;
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}


/* Responsive */
@media (max-width: 768px) {
  .booking-content {
    flex-direction: column;
  }

  .booking-info,
  .booking-form {
    width: 100%;
  }
}
.thank-you {
  margin-top: 20px;
  color: #d4af37;
  font-size: 1.1rem;
  font-weight: bold;
}

