/* Background full screen */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url('/bg-home.jpg') center/cover no-repeat;
  position: relative;
}

/* Glass Card */
.auth-card {
  width: 360px;
  padding: 35px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);

  text-align: center;
  color: white;
}

/* Heading */
.auth-card h2 {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* Inputs */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;

  border-radius: 8px;
  border: none;
  outline: none;

  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.auth-card input::placeholder {
  color: #e8e8e8;
}

/* Gold Button */
.gold-btn {
  width: 100%;
  padding: 12px;

  background: #d4af37;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;

  cursor: pointer;
  margin-top: 10px;
}

.switch-text {
  margin-top: 15px;
}

.switch-text a {
  color: #d4af37;
  text-decoration: none;
  font-weight: 500;
}

.switch-text a:hover {
  text-decoration: underline;
}
