/* Default Dark Theme */
:root {
  --bg-color: #121212;
  --text-color: #ffffff;

  --card-bg: #1e1e1e;
  --navbar-bg: #1a1a1a;
}

/* Light Theme */
[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;

 
  --card-bg: #f4f4f4;
  --navbar-bg: #ffffff;

}
/* Apply to body */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
